<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @fitting.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @fitting.codeno %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @fitting.typec %>
</p>

<p>
  <strong>Materialgrade:</strong>
  <%= @fitting.materialgrade %>
</p>

<p>
  <strong>Itemdescription:</strong>
  <%= @fitting.itemdescription %>
</p>

<p>
  <strong>Size:</strong>
  <%= @fitting.size %>
</p>

<p>
  <strong>Sch:</strong>
  <%= @fitting.sch %>
</p>

<p>
  <strong>Lr:</strong>
  <%= @fitting.lr %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fitting.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fitting.price %>
</p>

<%= link_to 'Edit', edit_fitting_path(@fitting) %> |
<%= link_to 'Back', fittings_path %>
