<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @tube.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @tube.codeno %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @tube.typec %>
</p>

<p>
  <strong>Materialgrade:</strong>
  <%= @tube.materialgrade %>
</p>

<p>
  <strong>Od:</strong>
  <%= @tube.od %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @tube.lg %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tube.weight %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tube.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tube.price %>
</p>

<%= link_to 'Edit', edit_tube_path(@tube) %> |
<%= link_to 'Back', tubes_path %>
