<%= form_for(@welding) do |f| %>
  <% if @welding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@welding.errors.count, "error") %> prohibited this welding from being saved:</h2>

      <ul>
      <% @welding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slno %><br>
    <%= f.number_field :slno %>
  </div>
  <div class="field">
    <%= f.label :codeno %><br>
    <%= f.text_field :codeno %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :UOM %><br>
    <%= f.text_field :UOM %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
