<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @rod.slno %>
</p>

<p>
  <strong>Code:</strong>
  <%= @rod.code %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @rod.typec %>
</p>

<p>
  <strong>Material:</strong>
  <%= @rod.material %>
</p>

<p>
  <strong>Size:</strong>
  <%= @rod.size %>
</p>

<p>
  <strong>Tk:</strong>
  <%= @rod.tk %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @rod.dia %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @rod.lg %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @rod.quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @rod.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rod.price %>
</p>

<%= link_to 'Edit', edit_rod_path(@rod) %> |
<%= link_to 'Back', rods_path %>
