<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @pipe.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @pipe.codeno %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pipe.description %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @pipe.typec %>
</p>

<p>
  <strong>Materialgrade:</strong>
  <%= @pipe.materialgrade %>
</p>

<p>
  <strong>Inch:</strong>
  <%= @pipe.inch %>
</p>

<p>
  <strong>Od:</strong>
  <%= @pipe.od %>
</p>

<p>
  <strong>Tk:</strong>
  <%= @pipe.tk %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @pipe.lg %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @pipe.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pipe.price %>
</p>

<%= link_to 'Edit', edit_pipe_path(@pipe) %> |
<%= link_to 'Back', pipes_path %>
