<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @flange.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @flange.codeno %>
</p>

<p>
  <strong>Materialgrade:</strong>
  <%= @flange.materialgrade %>
</p>

<p>
  <strong>Size:</strong>
  <%= @flange.size %>
</p>

<p>
  <strong>Classc:</strong>
  <%= @flange.classc %>
</p>

<p>
  <strong>Tk:</strong>
  <%= @flange.tk %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @flange.quantity %>
</p>

<p>
  <strong>Kgs:</strong>
  <%= @flange.kgs %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flange.price %>
</p>

<%= link_to 'Edit', edit_flange_path(@flange) %> |
<%= link_to 'Back', flanges_path %>
