<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @fastener.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @fastener.codeno %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @fastener.typec %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @fastener.grade %>
</p>

<p>
  <strong>Item:</strong>
  <%= @fastener.item %>
</p>

<p>
  <strong>Size:</strong>
  <%= @fastener.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fastener.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fastener.price %>
</p>

<%= link_to 'Edit', edit_fastener_path(@fastener) %> |
<%= link_to 'Back', fasteners_path %>
