<p id="notice"><%= notice %></p>

<p>
  <strong>Slno:</strong>
  <%= @gasket.slno %>
</p>

<p>
  <strong>Codeno:</strong>
  <%= @gasket.codeno %>
</p>

<p>
  <strong>Typec:</strong>
  <%= @gasket.typec %>
</p>

<p>
  <strong>Material:</strong>
  <%= @gasket.material %>
</p>

<p>
  <strong>Nb:</strong>
  <%= @gasket.nb %>
</p>

<p>
  <strong>Thk:</strong>
  <%= @gasket.thk %>
</p>

<p>
  <strong>Classc:</strong>
  <%= @gasket.classc %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @gasket.quantity %>
</p>

<p>
  <strong>—-force-plural:</strong>
  <%= @gasket.—-force-plural %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gasket.price %>
</p>

<%= link_to 'Edit', edit_gasket_path(@gasket) %> |
<%= link_to 'Back', gaskets_path %>
